@import '../../Style/Style.scss';

.site-layout-content{
    margin: 0 16px;
    @include sm{
        margin: 0 10px;
    }
    .site-layout-background{
        padding: 24px;
        min-height: 100px;
        background-color: $white;
        margin-top: 50px;
        @include sm{
            padding: 20px 10px;
        }
        .content-wrapper{
            display: grid;
            gap: 20px;
            grid-template-columns: auto auto auto;
            @include md{
                grid-template-columns: auto auto;
            }
            @include sm{
                grid-template-columns: auto;
            }
            .content-main{
                box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
                border-radius: 5px;
                border: none;
                overflow: hidden;
                .content-box{
                    display: flex;
                    flex-direction: column;
                    background-color: $white;
                    gap: 20px;
                    
                    .content-part{
                        padding: 10px 0px 0px 10px;
                        span{
                            font-family: $Mont_Bold;
                            font-size: 20px;
                            line-height: 30px;
                        }
                        p{
                            @include sub-para;
                            color: $shadow;
                        }
                    }
                    .content-image{
                        width: 100%;
                        height: 140px;
                        overflow: hidden;

                        .Bitcoinimg{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }
                }
            }
            
        }

        .row{
            margin-top: 50px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 30px;
            width: 100%;
            @include xl{
                grid-template-columns: auto;
            }
            .col-12{
                width: 100%;
                box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
                border-radius: 5px;
                border: none;
                padding: 20px;
                .para-title{
                    @include title;
                    margin-bottom: 25px;
                    @include sm{
                        margin-bottom: 15px;
                    }
                }
                .portfolio-box{
                    display: grid;
                    grid-template-columns: auto auto ;
                    width: 100%;
                    gap: 15px;
                    
                    @include md{
                        grid-template-columns: auto ;
                        gap: 25px;
                    }
                    
                    .portfolio-content{
                        width: 100%;
                        .count{
                           @include count;
                           @include sm{
                            font-size: 18px;
                            line-height: 30px;
                           }
                        }
                        .para-sub{
                            @include sub-para;
                            margin-bottom: 20px;
                        }
                        .button{
                            margin-bottom: 15px;
                            button{
                                border-radius: 5px;
                                border: none;
                                margin-right: 10px;
                                display: inline-block;
                                font-family: $Mont_Bold;
                                &:last-child{
                                    margin-right: 0px;
                                }
                                &.custom{
                                    background-color: $btn-bg;
                                }
                            }
                        }
                        .addlink{
                            color: $link;
                            font-family: $Mont_SemiBold;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    .portfolio-progress{
                        width: 100%;
                        .portfolio-title{
                            font-family: $Mont_SemiBold;
                            font-size: 14px;
                            line-height: 20px;
                            text-transform: capitalize;
                            margin-bottom: 15px;
                        }
                        .progressbar{
                            .progress-span{
                                font-family: $Mont_reguler;
                                font-size: 12px;
                                line-height: 18px;
                            }  
                        }
                    }
                }
            }
        }

        .payment-row{
            margin-top: 50px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 30px;
            width: 100%;
            @include md{
                grid-template-columns: auto;
            }
            .payment-col{
                box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
                border-radius: 5px;
                border: none;
                overflow: hidden;
                padding: 15px;
                .box{
                    .payments-content{
                        .paymnet-title{
                            @include title;
                            margin-bottom: 20px;
                            @include sm{
                                margin-bottom: 10px;
                            }
                        }
                        .paymnet-para{
                            font-family: $Mont_SemiBold;
                            font-size: 14px;
                            line-height: 20px;
                            text-transform: capitalize;
                            margin-bottom: 10px;

                        }
                        .payment-count{
                            @include count;
                            color: $hover;
                            @include sm{
                                font-size: 18px;
                                line-height: 30px;
                            }
                        }
                        .payment-subpara{
                           @include sub-para;
                            margin-bottom: 20px;
                            @include sm{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
        .slider-tabbar{
            display: grid;
            grid-template-columns: auto auto;
            gap: 25px;
            @include xmd{
                grid-template-columns: auto;
                align-items: center;
                justify-content: center;
            }
            .carousel{
                margin-top: 50px;
                box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
                border-radius: 5px;
                border: none;
                overflow: hidden;
                padding: 10px;
                background-color: black;
                    .slider-part{
                        .slide-wrap{
                            display: grid;
                            grid-template-columns: auto auto;
                            gap: 20px;
                            width: 100%;
                            @include xxl{
                                grid-template-columns: auto;
                            }
                            .slider-img{
                               height: 300px;
                               width: 300px;
                               object-fit: cover;
                               overflow: hidden;
                               @include xxl{
                                height: 100%;
                                width: 100%;
                                max-width: 100%;
                               }
                                .sliderimage{
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    overflow: hidden;
                                    display: block;
                                }
                            }
                            .slider-content{
                               h3{
                                max-width: 400px;
                                @include title;
                                color: $white;
                                @include xmd{
                                    max-width: 100%;
                                }
                               }
                               p{
                                max-width: 400px;
                                @include sub-para;
                                font-family: $Mont_SemiBold;
                                @include xxl{
                                    max-width: 100%;
                                }
                               }
                            }
                        }
                    }
            }
            .tabbar{
                margin-top: 50px;
                box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
                border-radius: 5px;
                border: none;
                overflow: hidden;
                padding: 20px;
                @include sm{
                    padding: 10px;
                }
                .tabfirst{
                    display: grid;
                    grid-template-columns: auto auto;
                           
                    gap: 20px;
                    width: 100%;
                    @include xxl{
                        grid-template-columns: auto;
                    }
                    .tabfirstimg{
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        overflow: hidden;
                        @include xxl{
                            height: 100%;
                            width: 100%;
                           }
                        .tabfirstimage{
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }
                    .slider-content{
                        h3{
                            @include title;
                        }
                        p{
                            @include sub-para;
                            max-width: 600px;
                            @include xmd{
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .product-card{
            padding: 50px 0px;
            .product-wrapper{
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 20px;
                    @include xxl{
                        grid-template-columns: auto auto;
                    }
                    @include xmd{
                        grid-template-columns: auto;
                    }
                .product-col{
                    .product-img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                    }
                    .card-content{
                        .product-title{
                            @include title;
                            margin-bottom: 10px;    
                            @include md{
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                        .product-rate{
                            @include count;
                            margin-bottom: 10px;
                            @include md{
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }
                        .product-content{
                            @include sub-para;
                            margin-bottom: 10px;
                            @include md{
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                        .product-btn{
                            display: flex;
                            gap: 20px;
                            @include md{
                                gap: 10px;
                            }
                            button{
                                border-radius: 5px;
                                @include title;
                                @include md{
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .up-btn{
            height: 40px;
            width: 40px;
            border-radius: 4px;
            line-height: 40px;
            background-color: $hover;
            color: $white;
            text-align: center;
            font-size: 14px;
        }
    }
    // .ant-progress-bg:nth-last-child(1){    
    //     background-color: red;
    // }
    .ant-row.ant-form-item-row{
        display: block;
    }
    .ant-form-item{
        margin: 0;
    }
    .ant-col.ant-form-item-label{
        @include title;
    }
    .ant-btn{
        @include sm{
            padding: 4px 10px;
        }
    }
    .slick-slider.slick-initialized{
        max-width: 700px;
        @include xmd{
            max-width: 100%;
        }
    }
    .ant-card.ant-card-bordered {
        border-radius: 10px;
    }
    .ant-card-cover {
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
    }
}