@import '../../Style/Style.scss';

.admin{
    .layout{
        min-height: 100vh;
        .site-layout-sider{
           background-color: #003366;
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                height: 64px;
                background: rgba(33, 35, 61, 0.3);
                .trigger{
                    color: $white;
                    height: 16px;
                    width: 16px;
                    overflow: hidden;
                    svg{
                        display: block;
                        height: 16px;
                        width: 16px;
                        object-fit: cover;
                        overflow: hidden;
                    }
                }
                .wieldy{
                    height: 18px;
                    width: 90px;
                    overflow: hidden;
                    .logo{
                        display: block;
                        height: 18px;
                        width: 90px;    
                        object-fit: cover;
                        overflow: hidden;
                    }
                }
            }
            .ant-menu-submenu,.ant-menu-submenu-selected,.ant-menu-item:hover{
                    color: $text-hover;
                }

        }
        .site-layout{
            .site-layout-header{
                background: $white;
                box-shadow: 0 0 4px 4px rgb(0 0 0 / 8%);
                position: sticky;
                top: 0;
                z-index: 5;
                .header-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .header-left{
                        display: flex;
                        align-items: center;
                        .anticon{
                            svg{
                                color: $grey;
                            }
                        }
                        .ant-input{
                            display: inline;
                            border: none;
                            border-radius: 0;
                            color: $black;
                        }
                    }
                    .right-side{
                        .dropdownimg{
                            width: 24px;
                            height: 24px;
                            overflow: hidden;
                            padding-right: 10px;
                            .Englishimg{
                                width: 24px;
                                height: 24px;
                                overflow: hidden;
                                object-fit: cover;
                            }
                        }
                    }
                    
                }
                
            }
           
            .site-layout-footer{
                text-align: center;
                background-color: $white;
                margin: 10px 16px;
                padding: 24px;
                font-family: $Mont_SemiBold;
                font-size: 14px;
                line-height: 20px;
            }
        }
        
    }
}
.ant-dropdown{
    width: 150px;
    right: 0;
}
.ant-space-item{
    font-weight: bold;
    color: $black;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
    
}
// .ant-menu-dark .ant-menu-item-selected span {
//     color: inherit;
// }
.ant-layout-sider.ant-layout-sider-collapsed .wieldy{
    display: none;
}
.ant-dropdown-menu-item .anticon +span:hover{
    color: $text-hover;
}
.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
    background-color: #003366;
}
.ant-layout-header{
    @include md{
     padding: 0px 30px;
    }
    @include sm{
        padding: 0px 10px;
       }
 }

 aside.ant-layout-sider.ant-layout-sider-dark.site-layout-sider {
    @include sm{
        display: none;
    }
}